{% extends "app/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="panel panel-default" style="padding: 20px;">
    <div class="row">
    <div class="col-md-6">
         <h3><strong>Service Details:</strong></h3>
          <hr />
        <div class="panel panel-default" style="background-color: #d2f8d2;">
  <div class="panel-heading">  <h4><strong>Location:</strong></h4></div>       
    <div class="panel-body" style="padding:10px;display:block;">
    <h5><strong>{{ detail.custID.cust_name }}</strong></h5>
    <h5>Room: {{ detail.room_num }}</h5>
    <h5>{{ detail.custID.cust_address }}</h5>
    <h5>{{ detail.custID.cust_city }}, {{ detail.custID.cust_state }} {{ detail.custID.cust_zip }}</h5>
        </div>
            </div>
        <hr />
    <h4><strong>Issues: </strong><small>Ticket # {{ detail.id }}/ {{ detail.ticket_created }}</small></h4>
       <hr />
        <div class="panel panel-default" style="background-color: #d2f8d2;">
        <div class="panel-heading"><h5><strong>{{detail.ticketID.t_type }}</strong></h5></div>
           <div class="panel-body" style="padding:10px;display:block;">
        <ul>
    <li>{{ detail.ticketID.description }}</li>
        </ul>
               </div>
        </div>

        <div class="panel panel-default" style="background-color: #d2f8d2;">
        <div class="panel-heading"><h5>Level:</h5></div>
         <div class="panel-body" style="padding:10px;display:block;">   
        <ul>
    <li>{{ detail.severity }}</li>
        </ul>
             </div>
</div>
            
        
        <div class="panel panel-default" style="background-color: #d2f8d2;">
         <div class="panel-heading"><h5>Contact Method:</h5></div>
         <div class="panel-body" style="padding:10px;display:block;">        
        <ul>
    <li>{{ detail.contact_method }}</li>
    <li>{{ detail.contact }}</li>
        </ul>
             </div>
</div>
        <div class="panel panel-default" style="background-color: #d2f8d2;">
            
        <div class="panel-heading"><h5>Work Affect:</h5></div>
         <div class="panel-body" style="padding:10px;display:block;">     
        <ul>
    <li>{{ detail.aff_work }}</li>
        </ul>
             </div>
</div>
            <div class="panel panel-default" style="background-color: #d2f8d2;">
     <div class="panel-heading"><h5>Notes:</h5> </div>
            <div class="panel-body" style="padding:10px;display:block;">        
                <ul>
    <li>{{ detail.description }}</li>
        </ul>
                </div>
</div>
     <div class="panel panel-default" style="background-color: #d2f8d2;">
    <div class="panel-heading"><h5>Screen Shots:</h5> </div>
      <div class="panel-body" style="padding:10px;display:block;">   
    <ul>
        {% if detail.document %}
        
        <li><a href="{{ detail.document.url }}">Link</a></li>
        {% endif %}
    </ul>
          </div>
 </div>
         <div class="panel panel-default" style="background-color: #d2f8d2;">
    <div class="panel-heading"> <h5>Affected:</h5> </div>
         <div class="panel-body" style="padding:10px;display:block;">      
                <ul>
    <li>{{ detail.aff_num }}</li>
        </ul>
             </div>
</div>
       </div>
    <div class="col-md-6">
       <h3><strong>Documentation:</strong></h3>
            <hr />
    <div class="panel panel-default" style="padding:10px;background-color: #bcf5bc;" >
    
    <div class="panel-body">
        <form method="post" >
            {% csrf_token %}
                {{ form|crispy }}
 
            <button type="submit" class="btn btn-default"&gt;Submit>Enter</button>
        </form>
    </div>
</div>
        <h3>History</h3>
        <hr />
        <ul>
    

        {% for hist in history %}
           <li> {{ hist.tech_date }} | {{ hist.tech_notes}} | {{ hist.tech_status }}</li>
        {% endfor %}
         </ul>

        <h3>Attachments:</h3>
        <hr />
        {% if detail.document %}
        <div class="panel panel-default">
        <iframe src="{{ detail.document.url }}" style="width: 100%;height: 50%;border: none;"></iframe>
         </div>
        {% else %}
            <h5>--None--</h5>
            
        {% endif %}
    </div>
        </div>
 </div>


{% endblock %}
